only-built-dependencies[]=tree-sitter
only-built-dependencies[]=tree-sitter-cli
only-built-dependencies[]=tree-sitter-css
only-built-dependencies[]=tree-sitter-javascript
only-built-dependencies[]=tree-sitter-markdown
only-built-dependencies[]=tree-sitter-toml
only-built-dependencies[]=tree-sitter-typescript
only-built-dependencies[]=tree-sitter-yaml
only-built-dependencies[]=@biomejs/biome
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@swc/core
only-built-dependencies[]=esbuild
only-built-dependencies[]=msgpackr-extract
